<table class="table panel logbook-table table-striped">
    <thead>
        <tr>
            <th>Date</th>
            <th>Pilot</th>
            <th>From</th>
            <th>To</th>
            <th style="min-width: 150px;">Task</th>
            <th>T/O</th>
            <th>Landing</th>
            <th>Duration</th>
            <th>Distance</th>
            <th style="min-width: 300px;">Comment</th>
            <th>Trace</th>
        </tr>
    </thead>
    <tbody class="logbook-entries"></tbody>
</table>
