<table class="table panel stats-table table-striped">
    <thead>
        <tr>
            <th>Pilot</th>
            <th>Total Flights</th>
            <th>Hours</th>
            <th>Average Duration</th>
            <th>Distance</th>
            <th>Average Distance</th>
        </tr>
    </thead>
    <tbody class="stat-entries"></tbody>
</table>
