$lightbox-colour: #000;

code {
    background-color: #fff;
}

a:hover {
    cursor: pointer;
}

.profile-image {
    width: 100px;
}

.auth-container {
    padding: 20px;
}

.no-spacing {
    margin: 0;
    padding: 0;
}

#add-flight-error,
#edit-flight-error {
    display: none;
    margin-bottom: 0;
    margin-top: 10px;
}


@import 'partials/messaging';
