<div class="jumbotron">

    <div class="panel-body">
        <h2>Welcome, {{user.username}}!</h2>

        <h3>Use this page to manage your account</h3>

        <hr>

        <p>Delete your account <span class="pull-right"><a href="/account/delete">Delete</a></span></p>
    </div>

</div>