<div class="col-sm-6 col-sm-offset-3">

    <div class="panel panel-default auth-container">

        <form action="/account/delete" method="post">
            <legend>Delete your account</legend>

            <p>Are you sure you want to delete your account?</p>

            <div class="form-group">
                <div class="button-container">
                    <button type="submit" class="btn btn-danger btn-raised btn-delete">Delete account</button>
                    <a href="/account"><button type="button" class="btn btn-default btn-raised">Cancel</button></a>
                </div>
            </div>
        </form>

    </div>

</div>
