<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error {{error.status}}</title>
    <style>
    body {
        font-family: 'Helvetica', Arial;
        margin: 20px;
    }
    </style>
</head>
<body>

<h1>Error {{error.status}} - {{message}}</h1>

</body>
</html>
