<div class="logbook-container">

    <ul class="nav nav-tabs" role="tablist" id="logbook-tablist">
        <li role="presentation"><a href="#stats" aria-controls="Stats" role="tab" data-toggle="tab">Stats</a></li>
        {{#each years}}
            <li role="presentation"><a href="#{{this}}" aria-controls="{{this}}" role="tab" data-toggle="tab">{{this}}</a></li>
        {{/each}}
    </ul>

    <div class="tab-content">

        <div role="tabpanel" class="tab-pane" id="stats">
            {{>stats}}
        </div>

        {{#each years}}
            <div role="tabpanel" class="tab-pane" id="{{this}}">
                {{>stats}}
                {{>log}}
            </div>
        {{/each}}

    </div>

    {{>flightTemplate}}
    {{>statTemplate}}
    {{>errorTemplate}}

</div>
