<div class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Add Ticket</h4>
            </div>
            <form enctype="multipart/form-data" action="" id="add-flight-form">
                <div class="modal-body">
                    <input class="form-control" id="pilot-field" type="text" name="name" placeholder="Pilot's Name" />
                    <input class="form-control" id="reg-field" type="text" name="registration" placeholder="Glider Registration" />
                    <input id="file-upload" type="file" name="upload[]" accept=".igc" class="" />
                    <div id="add-flight-error" class="alert alert-danger"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button id="add-flight" type="submit" class="btn btn-warning">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

<a class="btn btn-warning btn-fab add-flight-button"><i class="material-icons">add</i></a>
