<div class="container">
    <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-default form-container">

            <h2>Upload flight</h2>

            <form enctype="multipart/form-data" action="" id="add-flight-form">

                    <div class="form-group">
                        <label class="control-label" for="file-upload">Trace</label>
                        <input type="text" readonly="" class="form-control" placeholder="Select file...">
                        <input id="file-upload" type="file" name="upload[]" accept=".igc" required/>
                    </div>

                    <div class="form-group">
                        <label class="control-label" for="pilot-field">Pilot's Name</label>
                        <select id="pilot-field" class="form-control" disabled required>
                            <option></option>
                            <option>Robin May</option>
                            <option>Dan Chilcot</option>
                            <option>Clement Allen</option>
                            <option>Emily Tillett</option>
                            <option>Sammy Venables</option>
                            <option>Ryan Berry</option>
                            <option>Laurence Allen</option>
                            <option>Nathan Hampson-Jones</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label class="control-label" for="reg-field">Glider Registration</label>
                        <input class="form-control" id="reg-field" type="text" name="registration" disabled required pattern=".*\S+.*" title="Must contain more than empty spaces"/>
                    </div>

                    <div class="form-group">
                        <label class="control-label" for="date-field">Flight Date</label>
                        <input class="form-control" id="date-field" type="date" name="date" disabled required pattern=".*\S+.*" title="Must contain more than empty spaces"/>
                    </div>

                    <div class="form-group">
                        <label class="control-label" for="takeoff-time-field">Takeoff Time</label>
                        <input class="form-control" id="takeoff-time-field" type="time" name="takeoff-time" disabled required pattern=".*\S+.*" title="Must contain more than empty spaces"/>
                    </div>

                    <div class="form-group">
                        <label class="control-label" for="landing-time-field">Landing Time</label>
                        <input class="form-control" id="landing-time-field" type="time" name="landing-time" disabled required pattern=".*\S+.*" title="Must contain more than empty spaces"/>
                    </div>

                    <div class="form-group">
                        <label class="control-label" for="takeoff-location-field">Takeoff Location</label>
                        <input class="form-control" id="takeoff-location-field" type="text" name="takeoffLocation" disabled required pattern=".*\S+.*" title="Must contain more than empty spaces"/>
                    </div>

                    <div class="form-group">
                        <label class="control-label" for="landing-location-field">Landing Location</label>
                        <input class="form-control" id="landing-location-field" type="text" name="landingLocation" disabled required pattern=".*\S+.*" title="Must contain more than empty spaces"/>
                    </div>

                    <div class="form-group">
                        <label class="control-label" for="distance-field">OLC Distance (km)</label>
                        <input class="form-control" id="distance-field" type="number" step="1" name="distance" disabled required />
                    </div>

                    <div class="form-group">
                        <label class="control-label" for="task-field">Task</label>
                        <input class="form-control" id="task-field" type="text" name="task" disabled required pattern=".*\S+.*" title="Must contain more than empty spaces"/>
                    </div>

                    <div class="form-group">
                        <label class="control-label" for="comments-field">Comment</label>
                        <textarea class="form-control" rows="3" id="comments-field" name="comment" disabled required></textarea>
                    </div>

                    <div id="add-flight-error" class="alert alert-danger"></div>
                    <div id="add-flight-success" class="alert alert-success">Flight upload complete</div>

                    <input id="add-flight" type="submit" value="Upload" class="btn btn-primary btn-raised" />
                    <input type="reset" value="Clear" class="btn btn-default btn-raised" />

            </form>

        </div>
    </div>
</div>
