<script id="flight-template" type="text/html">
    <tr>
        <td>{{date}}</td>
        <td>{{pilot}}</td>
        <td>{{takeoffLocation}}</td>
        <td>{{landingLocation}}</td>
        <td>{{task}}</td>
        <td>{{takeoffTime}}</td>
        <td>{{landingTime}}</td>
        <td>{{duration}}</td>
        <td>{{distance}}</td>
        <td>{{comment}}</td>
        <td><a href="https://s3-eu-west-1.amazonaws.com/clementallen/logbook/flights/{{fileName}}"><i class="material-icons">cloud_download</i></a></td>
    </tr>
</script>
