.logbook-table,
.stats-table,
.annual-stats-table {
    display: none;
}

td {
    border-right: 1px solid lightgray;
}

.logbook-container {
    margin: 20px;

    #logbook-tablist {
        margin-bottom: 15px;

         li.active {
            background-color: rgba(255, 255, 255, 0.1);
        }
    }
}

@media (max-width: 1050px) {
    .table tbody > tr > td {
        padding-left: 30%;
    }

    table, thead, tbody, th, td, tr {
        display: block;
    }

    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr {
        border: 1px solid #ccc;
    }

    td {
        border: none;
        position: relative;

        &:before {
            position: absolute;
            top: 8px;
            left: 6px;
            width: 20%;
            white-space: nowrap;
            font-weight: bold;
        }

        .logbook-table & {
            &:nth-of-type(1):before {
                content: 'Date';
            }
            &:nth-of-type(2):before {
                content: 'Pilot';
            }
            &:nth-of-type(3):before {
                content: 'From';
            }
            &:nth-of-type(4):before {
                content: 'To';
            }
            &:nth-of-type(5):before {
                content: 'Task';
            }
            &:nth-of-type(6):before {
                content: 'T/O';
            }
            &:nth-of-type(7):before {
                content: 'Landing';
            }
            &:nth-of-type(8):before {
                content: 'Duration';
            }
            &:nth-of-type(9):before {
                content: 'Distance';
            }
            &:nth-of-type(10):before {
                content: 'Comment';
            }
            &:nth-of-type(11):before {
                content: 'Trace';
            }
        }

        .stats-table &,
        .annual-stats-table & {
            &:nth-of-type(1):before {
                content: 'Pilot';
            }
            &:nth-of-type(2):before {
                content: 'Total Flights';
            }
            &:nth-of-type(3):before {
                content: 'Hours';
            }
            &:nth-of-type(4):before {
                content: 'Avg Duration';
            }
            &:nth-of-type(5):before {
                content: 'Distance';
            }
            &:nth-of-type(6):before {
                content: 'Avg Distance';
            }
        }

    }
}
